{% paginate blog.articles by 20 %}



<div class="blog-header">
    <div class="wrapper">
        <div class="desktop-b-menu grid">
            <div class="grid__item large--two-thirds">
                <a href="/blogs/news" class="active">HOME</a>
                <a href="/blogs/learn/tagged/wellbeing">WELLBEING</a>
              	<a href="/blogs/learn/tagged/pleasure">PLEASURE</a>
                <a href="/blogs/learn/tagged/relationships">RELATIONSHIPS</a>
                <a href="/blogs/learn/tagged/technology">TECH</a>
            </div>
            <div class="grid__item large--one-third blog-search">
                <form action="/search" method="get" class="clearfix" role="search">
                    <input type="hidden" name="type" value="article">
                    <div class="input-group">
                        <span class="input-wrap">
                            <input type="search" name="q" value="" class="input-group-field"
                                   aria-label="Search">
                        </span>
                        <span class="input-group-btn">
                            <button type="submit" class="btn icon-fallback-text">
                                <span class="icon icon-search" aria-hidden="true"></span>
                                <span class="fallback-text">Search</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>      
    </div>
</div>


<div class="blog-page-wrap feature-wrap">
    <div class="wrapper">
        <div class="grid-uniform">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1 class="desktop-b-h1">
                    {% if current_tags %}
                      {{ current_tags.first }}
                    {% else %}
                      Home
                    {% endif %}
                   </h1>
                    <h1 class="mobile-b-h1">
                      {% if current_tags %}
                      <span> {{ current_tags.first }} ⌵</span>
                      {% else %}
                      <span>Home ⌵</span>
                      {% endif %}
                    </h1>
                  <div class="mobile-b-menu grid">
                      <div class="grid__item large--two-thirds">
                        <ul class="hide">
                          <li><a href="/blogs/news" class="active">HOME</a></li>
                          <li><a href="/blogs/learn/tagged/wellbeing">WELLBEING</a></li>
                          <li><a href="/blogs/learn/tagged/pleasure">PLEASURE</a></li>
                          <li><a href="/blogs/learn/tagged/relationships">RELATIONSHIPS</a></li>
                          <li><a href="/blogs/learn/tagged/technology">TECH</a></li>
                        </ul>  
                      </div>                      
                  </div>
                </div>
                <hr>
            </div>
          	
          	{% assign four_count = 0 %}
			{% for article in blog.articles %}
          	{% if article.tags contains 'Feature' and four_count < 4 %}
          	{% assign four_count = four_count | plus: 1 %}
            <div class="blog-special grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div class="image-div" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                    <a href="{{ article.url }}">
                  	<div class="blog-article-summary">                    
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt | strip_html | truncatewords: 20}}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 20 }}
                    {% endif %}                    
                    </div>
                  	</a>
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
              
            </div>
         	{% endif %}
            {% endfor %}
          
          
          
        {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}
          
        <div class="blog_border"><a href="#">See All Featured</a></div> 
          
      </div>

        <div class="grid-uniform">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide">
                    <div class="grid__item large--three-fifths">
                        <h1>Stay in the know</h1>
                        <h2>
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-page-wrap special-signup1">
    <div class="wrapper">
        <div class="grid-uniform">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1>
                      <a href="/blogs/news/tagged/wellbeing">
                      {% if current_tags %}
                        {{ current_tags.first }}
                      {% else %}
                        WELLBEING
                      {% endif %}
                      </a>	  
                   	</h1>
                </div>
              	<div class="h1-wrap" style="float: right; border-bottom: none;">
                  <h1><a href="/blogs/news/tagged/wellbeing">See All</a></h1>
                </div>
                <hr>
            </div>
          	
          	{% assign four_count = 0 %}
			{% for article in blog.articles %}
          	{% if article.tags contains 'Wellbeing' and four_count < 4 %}
          	{% assign four_count = four_count | plus: 1 %}
            <div class="grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>  
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  	<a href="{{ article.url }}">
                    <div class="blog-article-summary">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 100 }}
                    {% endif %}
                    </div>
                  	</a>
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
            </div>
         	{% endif %}
            {% endfor %}
          
      </div>

        <div class="grid-uniform">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide" style="background-color: #0f1720;">
                    <div class="grid__item large--three-fifths">
                        <h1 style="color: white; margin-top: 20px;">Stay in the know</h1>
                        <h2 style="color: white; margin-bottom: 30px;">
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group" style="margin-top: 60px; background-color: #1f2931; border: none;">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text" style="background-image: linear-gradient(to right, #007ea6, #4bbfde);">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-page-wrap special-signup2">
    <div class="wrapper">
        <div class="grid-uniform">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1>
                      <a href="/blogs/news/tagged/pleasure">
                      {% if current_tags %}
                        {{ current_tags.first }}
                      {% else %}
                        PLEASURE
                      {% endif %}
                      </a>
                   </h1>
                </div>
              	<div class="h1-wrap" style="float: right; border-bottom: none;">
                  <h1><a href="/blogs/news/tagged/pleasure">See All</a></h1>
                </div>
                <hr>
            </div>
          	
          	{% assign four_count = 0 %}
			{% for article in blog.articles %}
          	{% if article.tags contains 'Pleasure' and four_count < 4 %}
          	{% assign four_count = four_count | plus: 1 %}
            <div class="grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>  
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  	<a href="{{ article.url }}">
                    <div class="blog-article-summary">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 100 }}
                    {% endif %}
                    </div>
                  	</a>  
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
            </div>
         	{% endif %}
            {% endfor %}
          
      </div>

        <div class="grid-uniform">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide" style="background-color: #0f1720;">
                    <div class="grid__item large--three-fifths">
                        <h1 style="color: white; margin-top: 20px;">Stay in the know</h1>
                        <h2 style="color: white; margin-bottom: 30px;">
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group" style="margin-top: 60px; background-color: #1f2931; border: none;">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text" style="background-image: linear-gradient(to right, #007ea6, #4bbfde);">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-page-wrap special-signup3">
    <div class="wrapper">
        <div class="grid-uniform">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1>
                      <a href="/blogs/news/tagged/relationships">
                      {% if current_tags %}
                        {{ current_tags.first }}
                      {% else %}
                        RELATIONSHIPS
                      {% endif %}
                      </a>  
                   </h1>
                </div>
              	<div class="h1-wrap" style="float: right; border-bottom: none;">
                  <h1><a href="/blogs/news/tagged/relationships">See All</a></h1>
                </div>
                <hr>
            </div>
          	
          	{% assign four_count = 0 %}
			{% for article in blog.articles %}
          	{% if article.tags contains 'Relationships' and four_count < 4 %}
          	{% assign four_count = four_count | plus: 1 %}
            <div class="grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>  
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  	<a href="{{ article.url }}">
                    <div class="blog-article-summary">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 100 }}
                    {% endif %}
                    </div>
                  	</a>  	
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
            </div>
         	{% endif %}
            {% endfor %}
          
      </div>

        <div class="grid-uniform">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide" style="background-color: #0f1720;">
                    <div class="grid__item large--three-fifths">
                        <h1 style="color: white; margin-top: 20px;">Stay in the know</h1>
                        <h2 style="color: white; margin-bottom: 30px;">
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group" style="margin-top: 60px; background-color: #1f2931; border: none;">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text" style="background-image: linear-gradient(to right, #007ea6, #4bbfde);">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-page-wrap">
    <div class="wrapper" style="max-width: 100%; padding: 0;">
        <div class="grid-uniform" style="max-width: 1030px; margin: 0 auto; padding: 0 15px;">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1>
                      <a href="/blogs/news/tagged/technology">
                      {% if current_tags %}
                        {{ current_tags.first }}
                      {% else %}
                        TECH
                      {% endif %}
                      </a>
                   </h1>
                </div>
              	<div class="h1-wrap" style="float: right; border-bottom: none;">
                  <h1><a href="/blogs/news/tagged/technology">See All</a></h1>
                </div>
                <hr>
            </div>

          	{% assign four_count = 0 %}
			{% for article in blog.articles %}
          	{% if article.tags contains 'Technology' and four_count < 4 %}
          	{% assign four_count = four_count | plus: 1 %}
            <div class="grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>  
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  	<a href="{{ article.url }}">
                    <div class="blog-article-summary">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 100 }}
                    {% endif %}
                    </div>
                  	</a>  	
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
            </div>
         	{% endif %}
            {% endfor %}
          
      </div>

        <div class="grid-uniform" style="background: #f7f7f7;">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide" style="    max-width: 1030px; margin: 0 auto; padding: 0 15px;">
                    <div class="grid__item large--three-fifths">
                        <h1>Stay in the know</h1>
                        <h2>
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-page-wrap default-wrap hide">
    <div class="wrapper" style="max-width: 100%; padding: 0;">
        <div class="grid-uniform" style="max-width: 1030px; margin: 0 auto; padding: 0 15px;">

            <div class="grid__item blog-tag-title">
                <div class="h1-wrap">
                    <h1 class="desktop-b-h1">
                    {% if current_tags %}
                      {{ current_tags.first }}
                    {% else %}
                      Home
                    {% endif %}
                   </h1>
                    <h1 class="mobile-b-h1">
                      {% if current_tags %}
                      <span> {{ current_tags.first }} ⌵</span>
                      {% else %}
                      <span>Home ⌵</span>
                      {% endif %}
                    </h1>
                  <div class="mobile-b-menu grid">
                      <div class="grid__item large--two-thirds">
                        <ul class="hide">
                          <li><a href="/blogs/news" class="active">HOME</a></li>
                          <li><a href="/blogs/news/tagged/wellbeing">WELLBEING</a></li>
                          <li><a href="/blogs/news/tagged/pleasure">PLEASURE</a></li>
                          <li><a href="/blogs/news/tagged/relationships">RELATIONSHIPS</a></li>
                          <li><a href="/blogs/news/tagged/technology">TECH</a></li>
                        </ul>  
                      </div>                      
                  </div>
                </div>
                <hr>
            </div>
          	
			{% for article in blog.articles %}
            <div class="blog-special grid__item blog-article-item">

                <div class="rte">
                    <div class="blog-image">
                        {% if article.image %}
                        {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign image_alt = article.title | escape -%}
                        <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                          <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                            <a href="{{ article.url }}">
                            <img id="{{ img_id }}"
                                 class="article__image lazyload"
                                 src="{{ article.image | img_url: '300x300' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                                 data-aspectratio="{{ article.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image_alt }}">
                            </a>  
                          </div>
                        </div>
                        <noscript>
                            <p>{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
                        </noscript>
                        {% endif %}
                    </div>
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  	<a href="{{ article.url }}">
                    <div class="blog-article-summary">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt | strip_html | truncatewords: 20}}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 20 }}
                    {% endif %}
                    </div>
                  	</a>  
                </div>
                <p class="blog-article-readmore">
                  {{ 'small-logo.svg' | asset_url | img_tag: 'Logo'}}
                  <a href="{{ article.url }}">5 min read</a>
                </p>
            </div>
            {% endfor %}
          
          
          
        {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}
          
        <div class="blog_border"><a href="#">See All Featured</a></div> 
          
      </div>

        <div class="grid-uniform" style="background: #f7f7f7;">
            <div class="grid__item">
                <div class="grid-uniform blog-get-guide" style="    max-width: 1030px; margin: 0 auto; padding: 0 15px;">
                    <div class="grid__item large--three-fifths">
                        <h1>Stay in the know</h1>
                        <h2>
                            Sign up to thought-provoking articles, tips &amp; tricks,
                            exclusive offers and get our free MysteryPlaybook.
                        </h2>
                    </div>
                    <div class="grid__item large--two-fifths">
                        <div class="blog-get-guide-form">
                            <form action="/get-guide" method="get" class="clearfix">
                                <div class="input-group">
                                    <span class="input-wrap">
                                        <input type="search" name="q" value="" class="input-group-field"
                                               placeholder="Enter your email">
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn icon-fallback-text">
                                            <span>Sign up</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-page-spacer" style="background: #f7f7f7; padding-bottom: 66px;"></div>

<style>
.main-content > div {
    margin-left: -30px;
}
  .site-footer { background-color: #f7f7f7; }  
</style>

<div class="custom-cs">
<style>
  
  .blog-page-wrap { background: none; }
  
  .blog-special {
  	width: 40%;
  }
  .blog-special .blog-image {
  	width: 33%;
  }
  .blog-special .blog-image .article__image-wrapper{
  	float: left !important;
    max-width: 100% !important;
  }
  .blog-special h2 {
  	width: 60%;
    float: right;
  }
  .blog-special .blog-article-summary {
  	display: none;
  }
  .blog-special .blog-article-readmore {
  	float: left;
    margin-left: 15px;
  }
  .blog-special .blog-article-readmore img {
  	display: none;
  }
  .blog-special {
  	padding-bottom: 20px;
  }
  
  .blog-special.blog-article-item h2 a {
  	line-height: 1;
  }
  
  .blog-special:nth-child(2) {
  	width: 60%;
  }
  .blog-special:nth-child(2) .blog-image {
  	width: 100%;
  }
  .blog-special:nth-child(2) .blog-image .article__image-wrapper{
  	float: left !important;
    width: 100%;
    clear: both;
    max-width: 100% !important;
    height: 200px;
  }
  .blog-special:nth-child(2) .blog-image .article__image-wrapper .image-div {
  	padding-top: 0 !important;
  }
  .blog-special:nth-child(2) .blog-image .article__image-wrapper .article__image{
  	object-fit: cover;
   	height: 100%;
  }
  .blog-special:nth-child(2) h2 {
  	float: left;
    width: 100%;
    margin: 20px 0 5px 12px;
  }
  .blog-special:nth-child(2) .blog-article-summary {
  	float: left;
    margin: 0 0 0 12px !important;
    display: block !important;
  }
  .blog-special:nth-child(2) .blog-article-readmore {
  	float: left;
    margin: 20px 0 20px 12px;
  }
  .blog-special:nth-child(2) .blog-article-readmore img {
  	display: block !important;
  }
  
  .blog_border {     
    display: none;
    float: left;
    width: 97%;
    margin: 0 0px 0 30px;
    border-bottom: solid 1px lightgrey; 
  }
  .blog_border a {
  	float: right;
    margin-bottom: 5px;
  }
  .pagination-custom { display: none; }
  
  .mobile-b-menu { display: none; }
  
  .mobile-b-h1 {
  	display: none;
  } 
  .feature-wrap .desktop-b-h1 {
   	display: none;
  } 
  
  .blog-tag-title hr {	
    margin: -1px 0 20px;
  }
  
  .feature-wrap .mobile-b-menu .grid__item { padding-left: 0px; }
  .default-wrap .grid__item { padding-left: 0px; }
  
  @media screen and (min-width: 768px){
    .blog-tag-title hr {
      border: none; 
    }
  }
  
  @media screen and (max-width: 768px){
    .blog-header .blog-search form {
        float: right;
    }
  }
  
  @media screen and (max-width: 500px){    
    .blog-special { width: 100%; }
    .blog-special:nth-child(2) { width: 100%; }
    .blog_border { width: 91%; }
    .desktop-b-menu .large--two-thirds { display: none; }
    .desktop-b-menu .blog-search { 
      	position: absolute; 
        width: 70%;
      	right: 15px;
    }
    .desktop-b-menu .blog-search .input-group {
    	border: none;
      	background-color: transparent;
    }
    .desktop-b-menu span.input-wrap {
    	display: none;
    }
    .desktop-b-menu .blog-search .input-group-btn .btn {
        height: 30px;
      	float: right;
    }
    .desktop-b-menu .blog-search button {
    	font-size: 15px;
    }
    
    .mobile-b-menu { 
        display: block; 
        z-index: 999999;
        position: absolute;   
      	margin-left: 0;
    }
    .mobile-b-menu ul
    {
      	background: white;
    	padding: 0 10px 0 0;
        margin: 20px 0 10px;
      	display: none;
    }
    .mobile-b-menu ul.show {
    	display: block;
    }
    .mobile-b-menu .blog-search {
    	display: none;
    }
    .mobile-b-h1 {
    	display: block;
    } 
    .desktop-b-h1 {
    	display: none;
    } 
    .blog-tag-title h1 {
    	margin: 10px 0 0;
    }
    .special-signup3 form .input-group{
    	margin-top: 5px !important;
    }
    .special-signup1 .grid-uniform.blog-get-guide, .special-signup2 .grid-uniform.blog-get-guide {
    	display: none;
    }
    .blog-page-wrap { min-height: auto; }
    .blog-header .blog-search .input-group {
    	margin: 0px auto 0;
    }
  }
  @media screen and (min-width: 500px) {
    .article__image-wrapper.supports-js .article__image {
    	height: 90%;
    	object-fit: cover;
    }
  }
</style>
</div>
      
<script>
	$(".blog_border a").click(function(e){  		
  		e.preventDefault();
  		$(".blog-article-item").removeClass("blog-special");
      	$(this).parent().hide();
      	$(".pagination-custom").css("display", "inline-block");
  	});
  
    $(".mobile-b-h1").click(
      function(){
        if($(".mobile-b-menu ul").hasClass("hide")){          	
        	$(".mobile-b-menu ul").addClass("show");
        	$(".mobile-b-menu ul").removeClass("hide");
        }
        else if($(".mobile-b-menu ul").hasClass("show")){
        	$(".mobile-b-menu ul").addClass("hide");
        	$(".mobile-b-menu ul").removeClass("show");
        }
    });
  	var cur_url = $(location).attr('href');
  	if(cur_url.includes('tagged')){      
      $(".blog-article-item").removeClass("blog-special");
      $(".blog_border").hide();
      $(".pagination-custom").css("display", "inline-block");
      $(".blog-page-wrap").addClass("hide");
      $(".blog-page-wrap.default-wrap").removeClass("hide");
    }
</script>
      
      
{% endpaginate %}



{% schema %}
{
  "name": {
    "de": "Blog",
    "en": "Blog",
    "es": "Blog",
    "fr": "Blog",
    "it": "Blog",
    "ja": "ブログ",
    "pt-BR": "Blog"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_author_enable",
      "label": {
        "de": "Autor eines Blog-Beitrags anzeigen",
        "en": "Show blog post author",
        "es": "Mostrar autor del artículo del blog",
        "fr": "Afficher l'auteur de l'article de blog",
        "it": "Mostra autore articolo del blog",
        "ja": "ブログ記事の執筆者を表示する",
        "pt-BR": "Exibir autor(a) do post do blog"
      }
    }
  ]
}
{% endschema %}
