<style>
#header .logo.img-logo a{max-width:{{ section.settings.logo_max_width | default: '300' | remove: 'px' | append: 'px' }};display:inline-block;line-height:1;vertical-align:bottom;} 
#header .logo.img-logo,#header .logo.img-logo h1{font-size:1em;}
.logo.textonly h1,.logo.textonly a{font-size:{{section.settings.logo_size}}px;line-height:1;} 
.top-menu a{font-size:{{section.settings.nav_font_size}}px;}
</style>
<div class="row clearfix">
  <div class="logo{% if section.settings.logo == blank %} textonly{% else %} img-logo{% endif %}">
    {% if template == "index" %}
      <h1>
    {% endif %}  
    <a class="newfont" href="/" title="{{shop.name | escape}}">
    {% if section.settings.logo != blank %}
      {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: image_size }}"
      srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
      alt="{{ section.settings.logo.alt | default: shop.name }}"
      itemprop="logo">
    {% else %}
      {{shop.name | escape}}
    {% endif %}
    </a>
    <span class="logo-text"> 
      Change your Posters in a <span><strong> Snap! </strong></span>
    </span>
    {% if template == "index" %}
      </h1>
    {% endif %}               
  </div>

  {% if shop.customer_accounts_enabled %}
    <div class="login-top hide-mobile">
      {% if customer %}
        <a href="/account"><span class="icon-user2"></span> {{ 'layout.customer.my_account' | t }}</a> | 
        <a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
      {% else %}
        <a href="/account/login">{{ 'layout.customer.log_in' | t }}</a>{% if shop.customer_accounts_optional %} | <a href="/account/register">{{ 'layout.customer.create_account' | t }}</a>{% endif %}
      {% endif %}            
    </div>
  {% endif %}    
  
  {% assign special_num = 0 %}     
  {% for item in cart.items %}    
  
      {% if item.product.title != "Customized Value" %}       
           {% capture temp %}{{ special_num | plus: item.quantity }}{% endcapture %} 
      {% endif %}
      {% assign special_num = temp %}
  
  {% endfor %}  

  <div class="cart-info hide-mobile">
    <div class="your-cart"> Your Cart </div>
    <a href="/cart"><em>{{special_num}}</em> <span>{{ 'layout.cart.items' | t: count: cart.item_count }}</span></a>
  </div>
</div>

{% include 'top-menu' %}
<script>

  $( ".top-menu ul li" ).last().find('a').click(function(){

    $('#sk-messenger-button').show();
    $('#sk-container').show();
    $('.messenger-button-shown').click();
    return false;
  });
  
  $( "#side-menu .side-menu-mobile li" ).last().find('a').click(function(){
    $('#sk-messenger-button').show();
    $('#sk-container').show();
    $('.messenger-button-shown').click();
    return false;
  });
</script>  
<nav class="off-canvas-navigation show-mobile newfont">
  <a href="#menu" class="menu-button">{% include 'icon-menu' %}<span> {{ 'mobile.general.menu_button' | t }}</span></a>         
  {% if shop.customer_accounts_enabled %}
    <a href="/account" class="menu-user">{% include 'icon-user' %}<span> {{ 'mobile.general.account_button' | t }}</span></a>        
  {% endif %}
  <a href="/cart" class="menu-cart{% if cart.item_count > 0 %} animated bounce{% endif %}">{% include 'icon-cart' %} <span> {{ 'mobile.general.cart_button' | t }}</span></a>  
  <a href="/search" class="menu-search">{% include 'icon-magnify' %}</a>
  {% if settings.show_multiple_currencies %}
    <a href="#currency" class="menu-currency"><span>{{shop.currency}}</span></a>
  {% endif %}
</nav> 


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "top_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "nav_font_size",
        "label": "Menu font size",
        "default": "20",
        "options": [
           {
            "value": "12",
            "label": "12px"
          },
          {
            "value": "14",
            "label": "14px"
          },     
          {
            "value": "16",
            "label": "16px"
          },
          {
            "value": "17",
            "label": "17px"
          },
          {
            "value": "18",
            "label": "18px"
          },
          {
            "value": "19",
            "label": "19px"
          },
          {
            "value": "20",
            "label": "20px"
          }
        ]
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "300"
      },
      {
        "type": "select",
        "id": "logo_size",
        "label": "Text logo size in (in pixels)",
        "info": "If you aren't using a custom logo, you can set the size of your text logo here",
        "options": [
          {
            "value": "16",
            "label": "16px"
          },
          {
            "value": "20",
            "label": "20px"
          },
          {
            "value": "24",
            "label": "24px"
          },
          {
            "value": "28",
            "label": "28px"
          },
          {
            "value": "32",
            "label": "32px"
          },
          {
            "value": "36",
            "label": "36px"
          },
          {
            "value": "40",
            "label": "40px"
          },
          {
            "value": "44",
            "label": "44px"
          },
          {
            "value": "48",
            "label": "48px"
          },
          {
            "value": "52",
            "label": "52px"
          },
          {
            "value": "56",
            "label": "56px"
          },
          {
            "value": "60",
            "label": "60px"
          },
          {
            "value": "64",
            "label": "64px"
          }
        ],
        "default": "48"
      }

    ]
  }
{% endschema %}