<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
<meta name="google-site-verification" content="2XGDAzC2wZQyuiUkfTSbcMWkgFlDMJr8_K1qg1q0uf8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />  
<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

{% include 'google-fonts' %}   
  
{% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{% endif %}
  
{% if settings.favicon152 != blank %}
  <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon152 | img_url: '152x152' }}" type="image/png">
{% endif %} 

{% include 'meta' %}
{% include 'social-meta-tags' %}

{{ 'styles.scss.css' | asset_url | stylesheet_tag }}  


<!-- CUSTOM CSS -->

{{ 'style.css' | asset_url | stylesheet_tag }}  


<script>
  window.Sunrise = window.Sunrise || {};
  Sunrise.strings = {
    add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
    sold_out: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }},
    money_format_json: {{shop.money_format | strip_html | json}},
    money_format: "{{shop.money_format}}",
    money_with_currency_format_json: {{ shop.money_with_currency_format | strip_html | json }},
    money_with_currency_format: "{{shop.money_with_currency_format}}",
    shop_currency: "{{shop.currency}}",
    locale: "{{shop.locale}}",
    locale_json: {{shop.locale | json}},
    customer_accounts_enabled: {{shop.customer_accounts_enabled}},
    customer_logged_in: {% if customer %}true{% else %}false{% endif%}
  };
</script>  
  
{% if template contains 'customers' %}
   {{ "shopify_common.js" | shopify_asset_url | script_tag }}
   {{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}
  
{{ 'vendor.js' | asset_url | script_tag }} 
{{ 'theme.js' | asset_url | script_tag }} 

{{ content_for_header }}
  
  <style>
    @media (min-width: 50em){
       .sort-and-filter {
          position: absolute;
          top: 152px;
          right: 0;
      }
    }


      .sort-and-filter select{
          border: none;
          box-shadow: 1px 1px  3px 2px #ccc;
      }

      .collection-wrap.clearfix.show-sidebar {
          position: relative;
      }
    .social-links svg.icon { fill: #31a4c5; } 
	.social-twitter, .social-facebook, .social-pinterest, .social-instagram { background-color: #fff; }
  </style>
  {% include 'buddha-megamenu-before' %}
  
  {{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" defer="defer"></script>  
  
</head>

<body id="{{template | handle}}"{% if template contains 'customers' %} class="customer-area"{% endif %} data-curr-format="{{shop.money_format}}" data-shop-currency="{{shop.currency}}">
  <div id="site-wrap">
    <header id="header" class="clearfix">  
      {% section 'header' %}
      {% include 'currencies-switcher' %}
    </header>

    <div id="content">
      {% section 'sidebar' %}
      <section role="main" id="main"> 
        {% include 'breadcrumbs' %}
        {% unless template contains 'customers' or template contains 'search' %}

          {% section 'banner-ad' %}
        
        {% endunless %}
        {{ content_for_layout }}
        {% unless template contains 'customers' or template contains 'search' %}
          {% section 'logo-list' %}
        {% endunless%}
      </section>
    </div>
  </div><!-- site-wrap -->

  {% section 'footer' %}
  {% include 'currencies' %}
  {% include 'collection-filter-v2' %}
  

<!-- spurit_acr-added -->
{% include 'spurit_acr-theme-snippet' %}
<!-- /spurit_acr-added -->
<!-- Gorgias Chat Widget Start -->
<div id="gorgias-chat">
<script>window.gorgiasChatParameters = {}</script>
<script src="https://config.gorgias.io/production/lrg3N7Ayll7DnR8K/chat/Aa90l7E4v92JWorj.js" defer></script>
<style> #sk-messenger-button, #sk-container { display: none; } </style> 
<a onclick="$('.messenger-button-shown').click();">Start a chat with our team!</a>  
</div>
<!-- Gorgias Chat Widget End -->
</body>  </html>