{% assign pagination_limit_const = settings.pagination_limit | times: 1 %}{% assign supercollection = collection.products %}
{% capture collection_grid %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design == "left-right-sidebar" %}col-md-6 col-lg-6 col-xl-8{% else %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design != "closed-sidebar"  %}col-md-8 col-lg-9 col-xl-10{% else %}col-md-12 col-lg-12 col-xl-12{% endif %}{% endif %}{% endcapture %}
{% capture product_grid %}{% case settings.products_in_column %}{% when 'two' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6{% when 'three' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-4{% when 'four' %}col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3{% when 'six' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2{% when 'five' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth{% when 'nine' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-one-nine{% else %}{% endcase %}{% endcapture %}

{% paginate collection.products by 1000 %}
{% assign _collectionMax = collection.products %}
{% endpaginate %}

<div class="container top-image">
  {% if collection.handle == "spring-2018" %}
  	<img src="{{ "HERO_SPRINGPAGE.jpg" | asset_url }}">
  {% else %}  	  	
  	{% if collection.image %}<img src="{{ collection.image | img_url: 'master' }}">{% else %}<img src="{{ "all_products_header.jpg" | file_url }}">{% endif %}
  {% endif %}
  <div class="collection-filter" style="display: none;">
    <div class="collars-filter">
      <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 all" href="all">Collars</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="crew-neck">Crew Neck</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="v-neck">V-Neck</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="henley">Henley</a>
    </div>
    <div>
      <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 all" href="all">Bottom Cuts</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="regular">Regular</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="split-hem">Split-Hem</a>
      <a class="col-lg-3 col-md-3 col-sm-4 col-xs-12" href="elongated">Elongated</a>
    </div>
  </div>  
  <div class="new-collection-filter">
    <div class="filter-header-wrapper">
    <div class="filter-header">
      <a class="col-lg-3 col-md-3 col-sm-3 col-xs-3" filter="collar-filter" href="/">COLLARS</a>
      <a class="col-lg-3 col-md-3 col-sm-3 col-xs-3" filter="cut-filter" href="/">CUT</a>
      <a class="col-lg-3 col-md-3 col-sm-3 col-xs-3" filter="color-filter" href="/">COLOR</a>
      <a class="col-lg-3 col-md-3 col-sm-3 col-xs-3" filter="size-filter" href="/">SIZE</a>
    </div>
    </div>
    <div class="filter-body">
      <div class="collar-filter">
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="crew-neck" style="background-image: url('{{ "Crew.png" | file_url }}');">Crew</a>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="v-neck" style="background-image: url('{{ "V_Neck.png" | file_url }}');">V Neck</a>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="henley" style="background-image: url('{{ "Henley.png" | file_url }}');">Henley</a>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="wide-neck-pocket-crew" style="background-image: url('{{ "Pocket.png" | file_url }}');">Pocket</a>
      </div>
      <div class="cut-filter">
        <a class="col-lg-4 col-md-4 col-sm-12 col-xs-12" href="elongated" style="background-image: url('{{ "Elongated.png" | file_url }}');">Elongated</a>
        <a class="col-lg-4 col-md-4 col-sm-12 col-xs-12" href="split-hem" style="background-image: url('{{ "Split_Hem.png" | file_url }}');">Split Hem</a>
        <a class="col-lg-4 col-md-4 col-sm-12 col-xs-12" href="regular" style="background-image: url('{{ "Regular.png" | file_url }}');">Regular</a>
      </div>
      <div class="color-filter">
        {% if collections.['all'].all_products_count != 0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="all" style="background-image: url('{{ "All_Colors.png" | file_url }}');">All the colors listed</a>
        {% endif %}
        {% if collections.['black-cuts'].all_products_count != 0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="black-cuts" style="background-image: url('{{ "Black.png" | file_url }}');">Black</a>
        {% endif %}
        {% if collections.['optic-white'].all_products_count != 0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="optic-white" style="background-image: url('{{ "Optic_White.png" | file_url }}');">Optic White</a>
        {% endif %}
        {% if collections.['green'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="green" style="background-image: url('{{ "Green.png" | file_url }}');">Green</a>
        {% endif %}
        {% if collections.['grey'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="grey" style="background-image: url('{{ "Grey.png" | file_url }}');">Grey</a>
        {% endif %}
        {% if collections.['plum'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="plum" style="background-image: url('{{ "Plum.png" | file_url }}');">Plum</a>
        {% endif %}
        {% if collections.['coral'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="coral" style="background-image: url('{{ "Coral.png" | file_url }}');">Coral</a>
        {% endif %}
        {% if collections.['stone-brown'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="brown-spruce" style="background-image: url('{{ "Stone_Brown.png" | file_url }}');">Brown Spruce</a>
        {% endif %}
        {% if collections.['coastal-fog'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="coastal-fog" style="background-image: url('{{ "Coastal_Fog.png" | file_url }}');">Coastal Fog</a>
        {% endif %}
        {% if collections.['blue-nights'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="blue-nights" style="background-image: url('{{ "Blue_Nights.png" | file_url }}');">Blue Nights</a>
        {% endif %}
        {% if collections.['stone-grey'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="stone-grey" style="background-image: url('{{ "Stone_Grey.png" | file_url }}');">Stone Grey</a>
        {% endif %}
        {% if collections.['burnt-pink'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="burnt-pink" style="background-image: url('{{ "Burnt_Pink.png" | file_url }}');">Burnt Pink</a>
        {% endif %}  
        {% if collections.['red-pear'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="red-pear" style="background-image: url('{{ "Red_Pear.png" | file_url }}');">Red Pear</a>
        {% endif %}
        {% if collections.['roasted-cashew'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="roasted-cashew" style="background-image: url('{{ "Roasted_Cashew.png" | file_url }}');">Roasted Cashew</a>
        {% endif %}
        {% if collections.['martini-olive'].all_products_count !=0 %}
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="martini-olive" style="background-image: url('{{ "Martini_Olive.png" | file_url }}');">Martini Olive</a>
        {% endif %} 
      </div>
      <div class="size-filter">
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="s" style="background-image: url('{{ "S.png" | file_url }}');">S</a>
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="m" style="background-image: url('{{ "M.png" | file_url }}');">M</a>
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="l" style="background-image: url('{{ "L.png" | file_url }}');">L</a>
        <a class="col-lg-2 col-md-2 col-sm-12 col-xs-12" href="xl" style="background-image: url('{{ "XL.png" | file_url }}');">XL</a>
        <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12" href="xxl" style="background-image: url('{{ "XXL.png" | file_url }}');">XXL</a>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    
    {% if settings.listing_page_design != "disable-sidebar" %}
    <aside class="{% if settings.listing_page_design == "left-right-sidebar" %}col-md-3{% else %}col-md-4{% endif %} col-lg-3 col-xl-2 collection-list{% if settings.listing_page_design == "closed-sidebar" %} without-left-col{% endif %}" id="leftColumn">
      {% if settings.listing_page_design != "right-sidebar" %}<div class="move-height"></div>{% endif %}
      {% if settings.listing_page_design == "left-sidebar" or settings.listing_page_design == "closed-sidebar" %}{% include "collection-sidebar" %}{% endif %}
      {% if settings.listing_page_design == "left-right-sidebar" %}{% include "collection-sidebar-left" %}{% endif %}
    </aside>
    {% endif %}
    
    <aside class="{{ collection_grid }}" id="centerColumn">
      <div class="title-box"><h2 class="text-center text-uppercase title-under">{{ collection.title }}</h2></div>
      {% if settings.show_collection_description %}{{ collection.description }}{% endif %}
      {% paginate collection.products by 1000 %}
      {% comment %}
	  {% include 'filter-menu' %}
      {% endcomment %}
      <div id="listing-point"></div>
      {% include "collection-tollbar" current_grid: current_pagination_limit %}

      <!-- /filters row -->
      <div id="centerCol"><div class="product-listing row">{% for product in collection.products %}{% if product.available %}{% assign collection_name = collection.title %}{% if collection_name == 'S' or collection_name == 'M' or collection_name == 'L' or collection_name == 'XL' or collection_name == 'XXL' %}{% for variant in product.variants %}{% if variant.available and (variant.option1 == collection_name) %}<div class="{{ product_grid }}">{% include "product-grid-item" hoverzoom: "true" %}</div>{% endif %}{% endfor %}{% else %}<div class="{{ product_grid }}">{% include "product-grid-item" hoverzoom: "true" %}</div>{% endif %}{% endif %}{% endfor %}</div></div>
      <div class="infinitybutton">{% if settings.enable_infinite_scroll %}{% if paginate.next %}<div class="show-more"><a href="{{ paginate.next.url }}" class="btn btn--ys btn--xl">{{ 'collections.toolbar.button_show_more' | t }}</a></div>{% else %}{% if paginate.previous %}<div class="show-more" ><a class="btn btn--ys btn--xl disable">{{ 'collections.toolbar.button_show_more_disabled' | t }}</a></div>{% endif %}{% endif %}{% endif %}</div>
      {% if settings.enable_infinite_scroll %}<div class="divider--lg visible-xs"></div>{% endif %}
      {% endpaginate %}
    </aside>

    {% if settings.listing_page_design != "disable-sidebar" %}
    {% if settings.listing_page_design == "right-sidebar" or settings.listing_page_design == "left-right-sidebar" %}
    <aside class="{% if settings.listing_page_design == "left-right-sidebar" %}col-md-3{% else %}col-md-4{% endif %} col-lg-3 col-xl-2 hidden-xs hidden-sm collection-list" id="rightColumn">
      <div class="move-height"></div>
      {% if settings.listing_page_design == "right-sidebar" %}<div class="sidebar-content">{% include "collection-sidebar" %}</div>{% endif %}
      {% if settings.listing_page_design == "left-right-sidebar" %}<div class="sidebar-content">{% include "collection-sidebar-right" %}</div>{% endif %}
    </aside>
    {% endif %}{% endif %}

  </div>
</div>

{% if settings.enable_scroll_sidebar %}
<script>
  jQuery( document ).ready(function(){
    if(jQuery(".collection-list").length == 0 ) {
      return false;
    }

    setTimeout(calcSidebarPosition, 300);
    window.onscroll = function() {
      if(window.innerWidth < 992 ) {
        jQuery(".move-height").css('height', 0);
        return false;
      }
      calcSidebarPosition();
    }
    jQuery(window).resize(calcSidebarPosition);
    function calcSidebarPosition() {
      if(window.innerWidth < 992 ) {
        jQuery(".move-height").css('height', 0);
        return false;
      }
      var scrolled = window.pageYOffset || document.documentElement.scrollTop;
      var start = jQuery(".collection-list").position().top;
      var last = jQuery("#listing-point").position().top;
      var stuckHeight = jQuery(".stuck-nav").height();
      var delta = Math.max(scrolled - start + stuckHeight + 20, 0);
      delta = Math.min(delta, last);
      jQuery(".move-height").css('height', delta);
    }
  });
</script>
{% endif %}

<style>
  
.top-image {
  overflow: hidden;
  margin: 0 0 30px 0;
  width: 100%;
  padding: 0;
}

.top-image img {
  width: 100%;
}
  
.breadcrumbs {
  display: none !important;
}
  
  .filter-group-collars-and-butt {
    display: block;
  }
  
  .collection-filter a.all {
    background: #222;
    margin-bottom: 0;
    text-align: center;
    color: white;
  }
  
  .collection-filter a {
    background: #777;
    text-align: center;
    color: white;
  }
  
  .collars-filter a {
  }
  
  .collars-filter label {
  }
  
  .title-box {
    display: none;
  }
  
  .filters-row {
    display: none;
  }    
  
  .new-collection-filter {
  	text-align: center;
  }
  .filter-header-wrapper { 
  	border-bottom: solid 1px;
  }
  .new-collection-filter a { 
    text-underline-position: under; 
    color: black;
  }
  .filter-header {
  	height: 80px;
    width: 50%;
    margin: auto;
  }
  @media (max-width: 992px) {
    .filter-header-wrapper {
      height: 80px;	
    }
    .filter-header {      
      width: 100%;      
    }
  }
  .filter-header a { 
  	height: 100%;
    line-height: 90px;
    font-size: 13px;
  }
  .filter-header a:hover {
  	background-color: whitesmoke;
  }
  .filter-header a.active {
  	background-color: whitesmoke;
  }  
  .filter-body {
  	position: absolute;
    width: 100%;
    z-index: 99999;
    background-color: white;
  }
  .filter-body div { 
  	display: none;
  }
  .filter-body a:hover { 
  	background-color: lightyellow;
  }
  .filter-body a:active { 
  	background-color: lightyellow;
  }  
  .filter-body a.active { 
  	background-color: lightyellow;
  }    
  .collar-filter { 
  	height: 100px;
    width: 60%;
    margin: auto;
  }
  @media (max-width: 992px) {
    .collar-filter {      
      width: 100%;      
    }
  }
  .collar-filter a { 
  	line-height: 100px;
  }
  .cut-filter { 
  	height: 100px;
    width: 60%;
    margin: auto;
  }
  @media (max-width: 992px) {
    .cut-filter {      
      width: 100%;      
    }
  }  
  .cut-filter a { 
  	line-height: 100px;
  }
  .color-filter { 
  	height: 200px;
    width: 85%;
    margin: auto;
    margin-top: 10px;
  }
   @media (min-width: 1400px) {
    .color-filter {      
      width: 70%;      
    }
  } 
  @media (max-width: 992px) {
    .color-filter {      
      width: 100%;      
    }
  }   
  .color-filter a { 
  	line-height: 115px;
    font-size: 13px;
  }
  .size-filter { 
  	height: 100px;
    width: 70%;
    margin: auto;
  }
  @media (max-width: 992px) {
    .size-filter {      
      width: 100%;     
      line-height: 90px;
    }
  }    
  .size-filter a { 
  	line-height: 100px;
  }
  
  .collar-filter a { 
  	background-repeat: no-repeat;
    background-position: 30px center;
  }
  @media (max-width: 992px) {
    .collar-filter a {       
      background-position: 90px center;
    }
  }     
  
  .cut-filter a { 
  	background-repeat: no-repeat;
    background-position: 20px center;
  }
  @media (max-width: 992px) {
    .cut-filter a {       
      background-position: 80px center;
    }
  }    
  
  .color-filter a { 
  	background-repeat: no-repeat;
    background-position: center 15px;
  }
  @media (max-width: 992px) {
    .color-filter a {       
      background-position: 80px center;
      line-height: 65px;
    }
  }     
  .size-filter a { 
  	background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
  }
    
</style>
<script>
  $('.filter-header a').click(function(e){
    e.preventDefault();
    if($(this).hasClass('active')){    	
      $(this).removeClass('active');
      var filter = $(this).attr('filter');    
      $('.' + filter).hide();      
    }
    else{
      $('.filter-header a').removeClass('active');      
      $(this).addClass('active');
      var filter = $(this).attr('filter');
      $('.filter-body div').hide();
      $('.' + filter).show();	
    }    
  });  
</script>