<div data-section-id="{{ section.id }}" data-section-type="cart-template">

  <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>

  {% if cart.item_count == 0 %}
    <p><strong>{{ 'cart.general.empty' | t }}</strong></p>
    {% if section.settings.featured_collection %}
    {%- assign featuredCollection = section.settings.featured_collection -%}
    {% if collections[featuredCollection].products.size > 0 %}
      <p>{{ 'cart.general.featured_items_for_empty_cart' | t }}</p>
      <ul class="block-grid columns3 collection-th flexbox-grid">
      {% for product in collections[featuredCollection].products limit:9 %}
         {% include 'product-loop', grid_image_width: '200x200' %}
      {% endfor %}
      </ul>
    {% endif %}
    {% endif %}
  {% else %}

  <div id="cart-contents" class="clearfix">
    <form action="/cart" method="post" id="cartform">
      <div class="cart-header clearfix">
        <div class="cart-col1">
          <h4>{{ 'cart.general.item' | t }}</h4>
        </div>
        <div class="cart-col2">
          <h4>&nbsp;</h4>
        </div> 
        <div class="cart-col3">
          <h4>{{ 'cart.general.price' | t }}</h4>
        </div>
        <div class="cart-col4">
          <h4>{{ 'cart.general.quantity' | t }}</h4>
        </div>
        <div class="cart-col5">
          <h4>{{ 'cart.general.total' | t }}</h4>
        </div> 
        <div class="cart-col6">
          <h4>&nbsp;</h4>
        </div>   
      </div>

      <ul class="cart-contents clearfix">
        {% for item in cart.items %}
          <li class="clearfix">
            <div class="cart-col1">
              <a class="cart-thumb" href="{{item.url}}"><img src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}" /></a>
            </div>

            <div class="cart-col2">
              <a href="{{item.url}}">{{ item.title | escape }}</a>
              <p class="short-desc">{{item.product.description | strip_html | truncatewords:15 }}</p>
              {% assign propertySize = item.properties | size %}
              {% if propertySize > 0 %}
                <p class="custom-options">
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {% if p.last contains '/uploads/' %}
                      {{ p.first }}: <a href="{{ p.last }}" target="_blank"><em>{{'cart.general.uploaded_file' | t }}</em></a><br />
                    {% else %}
                      {{ p.first }}: <em>{{ p.last }}</em><br />
                    {% endif %}
                  {% endunless %}
                {% endfor %}
                </p>
              {% endif %}                     
            </div> 

            <div class="cart-col3">
              <span class=price-money>{{ item.price | money }}</span>
            </div>

            {% comment %}Don't add class to pre-order items. We don't need to check stock on those.{% endcomment %}
            {% assign className = "" %}
            {% if item.variant.inventory_management %}
              {% unless item.variant.inventory_policy == "continue" %}  
                {% assign className = "quantity" %}
              {% endunless %}
            {% endif %}

            <div class="cart-col4">
              <label for="updates_{{ item.id }}">{{ 'cart.general.quantity' | t }}</label>
              <input class="{{className}}" data-stk="{{item.variant.inventory_quantity}}" data-managed="{{item.variant.inventory_management}}" data-policy="{{item.variant.inventory_policy}}" type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />    
              <a class="cart-remove-line" href="/cart/change?line={{ forloop.index }}&quantity=0" line-id="{{ forloop.index }}">{{ 'cart.general.remove' | t }}</a>
            </div>

            <div class="cart-col5">
              <span class=price-money>{{item.line_price | money }}</span>
            </div> 

            <div class="cart-col6">
              <a class="cart-remove-line" href="/cart/change?line={{ forloop.index }}&quantity=0" title="{{ 'cart.general.remove' | t }}" line-id="{{ forloop.index }}"><span>X</span></a>
            </div>   
            <input type="hidden" id="line-id" value="{{ forloop.index }}">
            <input type="hidden" id="custom-counts-per" value="">
            <input type="hidden" id="custom-counts-all" value="">
          </li>
        {% endfor %}
      </ul>
      
	  <script>
       
      	window.onload = function(){
			cart_change();            
        };
        
        function cart_change(){                   

          $( ".cart-contents li" ).each(function() {
            
            var meta_div = $(this).find("div p:contains('Unit-price')");
            var meta_text = meta_div.text();
            var per_price = parseFloat($(this).find(".cart-col3 span").text().replace('$', ''));
            var locate_price = meta_text.indexOf("Unit-price");
            var u_customized_price = parseFloat(meta_text.slice(locate_price + 11, meta_text.length));
            var special_title = $(this).find(".cart-col2 a").text();
                           
            if((u_customized_price != '') && (special_title.indexOf("Customized Value") < 0)){
              
              $(this).find(".cart-col3 .price-money").text("$" + u_customized_price);
 
              var main_count = parseInt($(this).find(".cart-col4 input").val());
              var u_t_c_price = (u_customized_price * main_count).toFixed(2);
              var custom_counts_per = parseInt(((u_customized_price - per_price) / 0.01).toFixed(2));
              var custom_counts_all = custom_counts_per * main_count;
              
              $(this).find(".cart-col5 .price-money").text("$" + u_t_c_price);
              $(this).find("#custom-counts-per").val(custom_counts_per);
              $(this).find("#custom-counts-all").val(custom_counts_all);

            }
            
          });

            var customized_title = $("a:contains('Customized Value')");
            customized_title.parent().parent().css({"display":"none"});

            var customized_counts = parseInt(customized_title.parent().parent().find(".cart-col4 input").val());                      

          }
                                                                                                               
          $(document).ready(function() {
                                                                                                     
            $(".cart-remove-line").click(function() {
              var line_id = $(this).parent().parent().find("#line-id").val();
              var custom_counts_all = parseInt($(this).parent().parent().find("#custom-counts-all").val());        
              var customized_title = $(this).parent().parent().parent().find("a:contains('Customized Value')");
              var customized_counts = parseInt(customized_title.parent().parent().find(".cart-col4 input").val());
              var update_custom_counts = customized_counts - custom_counts_all;

              change_special_Item(line_id, update_custom_counts);
              return false;            
            }); 
                                                                                                       
            $('.cart-col4 input').on('change', function() {
				var custom_counts_per = parseInt($(this).parent().parent().find("#custom-counts-per").val());                                                                                    
                var custom_counts_all = parseInt($(this).parent().parent().find("#custom-counts-all").val());      
                var customized_title = $(this).parent().parent().parent().find("a:contains('Customized Value')");
                var customized_counts = parseInt(customized_title.parent().parent().find(".cart-col4 input").val());
                var update_custom_counts = customized_counts - custom_counts_all + custom_counts_per * $(this).val(); 
				customized_title.parent().parent().find(".cart-col4 input").val(update_custom_counts);
            });
          });
                                                                                                                                                                                                                                                                                                                      
          // POST to cart/change.js returns the JSON of the line item associated with the added item.
          // -------------------------------------------------------------------------------------
          function change_special_Item(self_line_id, custom_quantity, callback) {
            var quantity = custom_quantity || 0;
            var params = {
              type: 'POST',
              url: '/cart/change.js',
              data: 'quantity=' + quantity + '&id=' + '26432036293',
              dataType: 'json',
              success: function(line_item) { 
                if ((typeof callback) === 'function') {
                  callback(line_item);
                }
                else {
                  location.href = '/cart/change?line=' + self_line_id + '&quantity=0';
                  console.log('Success');
                }
              },
              error: function(XMLHttpRequest, textStatus) {
                console.log('Fail');
              }
            };
            jQuery.ajax(params);

          };  
                 
      </script>     

      <div class="cart-sub-actions clearfix">
        <a class="go-back button secondary" href="/">{{ 'cart.general.continue_shopping' | t }}</a>
        <input class="cart-update button secondary" type="submit" name="update" value="{{ 'cart.general.update' | t }}" />
      </div>   

      {% if section.settings.show_terms_cart %}   
        <p id="agree-terms">
          <input type="checkbox" id="agree" />
          <label for="agree">{{ 'cart.general.agree_terms_html' | t }}</label>
        </p>   
      {% endif %}  

      <div class="cart-actions clearfix">
       <div class="action-main">
        <div class="cart-tot2">
          <h5>{{ 'cart.general.subtotal' | t }} <span class=price-money>{{ cart.total_price | money }}</span></h5>
          <input class="button animated pulse" type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
          {% if section.settings.show_extra_checkout_options %}
            {% if additional_checkout_buttons %}
              <p class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </p>
            {% endif %}
          {% endif %}      
          </div>  
        </div>
        
        <img src="https://cdn.shopify.com/s/files/1/1541/9841/files/safe.jpg?346227664110536345">

        {% if section.settings.shipping_calculator %}
          {% assign shipClass = "shp-Enabled" %}
        {% else %}
          {% assign shipClass = "shp-Disabled" %}
        {% endif %}

        <div class="action-sub {{shipClass}}">
          {% if section.settings.show_cart_note %}
            <div class="cart-tot1">
              <div id="cart-note">
                <h5><label for="note">{{ 'cart.general.note' | t }}</label></h5>
                <textarea name="note" id="note">{{ cart.note }}</textarea>
              </div>
            </div>
          {% endif %}
          {% include 'shipping-calculator' %}     
        </div>
      </div>  
      
    </form>
  </div>
{% endif %}
</div>


{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_cart_note",
        "label": "Show cart note",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_extra_checkout_options",
        "label": "Show additional checkout buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_terms_cart",
        "label": "Show checkbox for terms and conditions",
        "default": true
      },
      {
        "id": "featured_collection",
        "type": "collection",
        "label": "Featured collection",
        "info": "Will be displayed when the cart is empty"
      },
      {
        "type": "header",
        "content": "Shipping rates calculator"
      },
      {
        "type": "checkbox",
        "id": "shipping_calculator",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "shipping_calculator_default_country",
        "label": "Default country selection",
        "default": "United States",
        "info": "If your customer is logged-in, the country in his default shipping address will be selected. If you are not sure about the spelling to use here, refer to the first checkout page."
      }
    ]
  }
{% endschema %}
