<div id="footer" class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="container row"> 
    <div id="big-footer" class="desktop-12">      
      {% case section.blocks.size %}
      {% when 0 %}
      {% when 1 %}
      {% assign column_width = 'desktop-12 tablet-6 mobile-3' %}
      {% when 2 %}
      {% assign column_width = 'desktop-6 tablet-6 mobile-3' %}
      {% when 3 %}
      {% assign column_width = 'desktop-4 tablet-6 mobile-3' %}
      {% when 4 %}
      {% assign column_width = 'desktop-3 tablet-6 mobile-3' %}
      {% when 5 %}
      {% assign column_width = 'desktop-fifth tablet-6 mobile-3' %}      
      {% endcase %}      
      {% for block in section.blocks %}   
      {% case block.type %}
      {% when 'menu' %}
      <div class="{{ column_width }} footer-sect">
        <h4>{{ block.settings.title | escape }}</h4>
        <ul {{ block.shopify_attributes }}>
          {% for link in linklists[block.settings.footer_nav].links %}
          <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
      {% comment %}
      {% when 'map' %}
      <div class="{{ column_width }} footer-sect">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d700.7708763683243!2d-3.5496863390666653!3d50.4644932750104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486d0fe3826ae681%3A0xd01ae840b3585560!2sTorquay+TQ2+6JB%2C+Vereinigtes+K%C3%B6nigreich!5e0!3m2!1sde!2sde!4v1509226826001" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>       
      {% endcomment %}
      {% when 'social' %}
      <div class="{{ column_width }} footer-sect" style="text-align: center;">
        <h4 style="margin-bottom: 15px; font-size: 23px;">{{ block.settings.phone | escape }}</h4>
        <h4 style="margin-bottom: 15px; font-size: 23px;">{{ block.settings.email | escape }}</h4>
        {% include 'mailing' %}
        <div class="clear"></div>
        <div id="social-icons">
          {% if settings.facebook_url != blank %}<a href="{{ settings.facebook_url }}"><i class="fa fa-facebook"></i></a>{% endif %}
          {% if settings.twittername != blank %}<a href="{{ settings.twittername }}"><i class="fa fa-twitter"></i></a>{% endif %}
          {% if settings.pinterest_url != blank %} <a href="{{ settings.pinterest_url }}"><i class="fa fa-pinterest"></i></a>{% endif %}
          {% if settings.tumblr_url != blank %} <a href="{{ settings.tumblr_url }}"><i class="fa fa-tumblr"></i></a>{% endif %}
          {% if settings.flickr_url != blank %} <a href="{{ settings.flickr_url }}"><i class="fa fa-flickr"></i></a>{% endif %}
          {% if settings.youtube_url != blank %} <a href="{{ settings.youtube_url }}"><i class="fa fa-youtube"></i></a>{% endif %}
          {% if settings.googleplus_url != blank %} <a href="{{ settings.googleplus_url }}"><i class="fa fa-google-plus"></i></a>{% endif %}
          {% if settings.vimeo_url != blank %} <a href="{{ settings.vimeo_url }}"><i class="fa fa-vimeo-square"></i></a>{% endif %}
          {% if settings.linkedin_url != blank %} <a href="{{ settings.linkedin_url }}"><i class="fa fa-linkedin"></i></a>{% endif %}
          {% if settings.instagram != blank %} <a href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
        </div> 
      </div>
      {% when 'text' %}      
      <div class="{{ column_width }} footer-sect">
        <h4>{{ block.settings.title | escape }}</h4>
        {{ block.settings.footer_text }}
      </div>
      {% endcase %}
      {% endfor %}         
    </div>      
    <div class="row">
      <div id="close" class="desktop-12 mobile-3">
        <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} Arenamore Ltd / {{ shop.name }}  • <a href="/pages/terms-and-conditions" title="Terms and Conditions">Terms & Conditions</a></p>
      </div>
    </div>      
  </div>
</div>
<style>
  #footer { text-align: {{ section.settings.text-alignment }}; }  
</style>
{% schema %}
  {
    "name": "Footer",
	"max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "text-alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      }
    ],
   "blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "footer_nav",
               "label": "Choose a menu"
            },
           {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Menu"
           }
         ]
      },
      {  
         "type":"map",
         "name":"Map"
      },
      {
        "type": "social",
        "name": "Social",
        "limit": 1,
		"settings":[
          {
            "type": "text",
            "id": "phone",
            "label": "Phone",
            "default": "Connect with us"
           },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "info@xxx.com"
           }
		]
	  },
    {
      "type": "text",
      "name": "Text",
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Text title",
          "default": "About"
        },
      {
          "id": "footer_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Adding text to your footer helps introduce your business to new customers.</p>"
       }		
      ]
    }
   ]
  }
{% endschema %}
