{% assign show = 'false' %}
{% if product.images.size > 0 %}
  {% assign show = 'true' %}
{% elsif customer.tags contains 'Wholesale' %}
  {% assign show = 'true' %}
{% else %}
  {% assign show = 'false' %}
{% endif %}
{% if product.type != "wholesale" and show == 'true' %}



{% include 'wh_calculate_discount' with product %}

{% include 'wh_visible_helper' with product %}
{% if wh_visible == false %}
<p>Product Not Available</p>
{% else %}


{% assign current_variant = product.selected_or_first_available_variant %}
{% include 'wh_variant' with current_variant %}

<div class="content product" data-section-id="{{ section.id }}" data-section-type="product" itemscope itemtype="http://schema.org/Product">
  <div class="item">
    <div class="left">
      <div class="var-bum">
       {% for image in product.images %}
        <div class="{% unless product.id == 11187809924 or product.id == 11187816260 %}cont-bag{%endunless%}">
          <a  class="pop-img" href="{{image.src | product_img_url: 'grande'}}" rel="show-img">
        <img src="{{image.src | product_img_url: 'grande'}}">
          </a>
            </div>
        {%endfor%}
      
      </div>
       <div class="slk-pdp">
        {%for image in product.images%}
          <div>
             <img src="{{ image.src | product_img_url: 'grande' }}">
          </div>
          {%endfor%}
        </div>
      {%comment%}
      {% include 'product-images' %}
    	{%endcomment%}
    </div>
    <div class="clear prod"></div>
    <div class="right">
      {% if product.id == 11187809924 or product.id == 11187816260 %}
      <p>At Bumbag we do not have an advanced team of sales tycoons.  We just have a pack of bros, some legit product and plenty of good fucking times.  </p>
      <p><br>Nothing but love!  Good looks on the support!!</p>
      {%endif%}
      <a class="title" href="{{ product.url }}">
        <h1 itemprop="name">{{ product.title }}</h1>
      </a>
      <h1 itemprop="name">{{ product.title }}</h1>
      <!--
      <a href="#shopify-product-reviews" class="rating"><span class="show-reviews">View Reviews</span></a>
 		-->     
{% include 'product-offers' %}
     
      {% include 'product-form' %}
{% unless product.id == 11187809924 or product.id == 11187816260 %}
 {% include 'product-description' %}
 {% endunless %}      
      {%comment%}
      {% include 'product-share' %}
    {%endcomment%}
    </div>
    {% include 'product-close' %}
    {% include 'product-script' %}
    
   
  </div>
  {% include 'product-metas' %}
   
     {% include 'slide-related-products' %}
</div>
{% else %}
<h3 style="margin: 0 auto; width:500px;text-align:center">This product is only available to our wholesale partners</h3>
{% endif %}


{% endif %}

{% schema %}
{
  "name": "Product information",
  "settings": [
    {
      "type": "select",
      "id": "variants_type",
      "label": "Show product options as",
      "default": "radios",
      "options": [
        {
          "value": "radios",
          "label": "Buttons"
        },
        {
          "value": "dropdowns",
          "label": "Dropdowns"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_sharing_products",
      "label": "Enable sharing",
      "default": true
    }
  ]
}
{% endschema %}
<div class="btn-hide">
<a class="hide-review">Hide Reviews</a>
</div>
<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>